
# Python
*.py                  @nimba-actions/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @nimba-actions/release-engineering-reviewers
/tasks/               @nimba-actions/release-engineering-reviewers

# Heroku CI
/Gemfile.lock         @nimba-actions/release-engineering-reviewers
/app.json             @nimba-actions/release-engineering-reviewers
/requirements.txt     @nimba-actions/release-engineering-reviewers
/runtime.txt          @nimba-actions/release-engineering-reviewers

# GitHub Actions
.github/workflows/    @nimba-actions/release-engineering-reviewers

# NPSP Special Folders
/unpackaged/config/core_instrumentation_mock_classes/        @force2b
/unpackaged/config/crlp_testing/                             @force2b
/force-app/main/instrumentation/                             @force2b